/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(rgb(115, 35, 165), rgb(141, 20, 141)); /* Violet contrasté */
    color: #fafafa;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    cursor: url('Assets/aiguille.png'), auto;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

ul {
    list-style-type: none;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #FF69B4;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem; /* Réduire la taille de la police */
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 1.3rem; /* Réduire la taille de la police */
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h3 {
    font-size: 1.3rem; /* Réduire la taille de la police */
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 1.3rem; /* Réduire la taille de la police */
    color: #FFC0CB;
    margin-bottom: 20px;
    line-height: 1.8;
}

/* header */

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
font-size: 1.5rem;
font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: url('Assets/aiguille.png'), auto;
    display: none;
}

.action_btn{
    background: linear-gradient(white, purple);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: url('Assets/aiguille.png'), auto;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: rgb(255, 255, 255);
}

.action_btn:active{
    scale: 0.95;
}

/* responsive */

@media (max-width: 992px) {
    .navbar .links, 
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

/* dropdown menu */
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255,255 ,255 ,0.1 );
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown_menu.open{
    height: 250px;
    z-index: 10;
}

/* Problématique sur la page d'accueil */
.problem-statement {
    background-color: #6A1B9A;
    color: white;
    padding: 40px 20px; /* Réduire la taille de la section */
    text-align: center;
    border-radius: 10px;
    margin-top: 20px; /* Problématique remontée */
    animation: fadeIn 1s ease-in-out;
}

.problem-statement h2 {
    font-size: 2rem; /* Réduire la taille de la police */
    margin-bottom: 20px;
}

.problem-statement p {
    font-size: 1rem; /* Réduire la taille de la police */
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
}


/* Projet citoyen */
.project-name {
    font-size: 1.2rem; /* Réduire la taille de la police */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 10;
    background: rgba(68, 17, 57, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.project-name:hover {
    background-color: #6A1B9A;
    transform: scale(1.1);
}


/* Hero Banner */
.hero-banner {
    background: linear-gradient(rgb(115, 35, 165), rgb(141, 20, 141)); /* Violet contrasté */
    padding: 100px 20px; /* Réduire la taille de la section */
    text-align: center;
    color: white;
    border-bottom: 5px solid #6A1B9A; 
    margin-bottom: 50px;
    transition: background-color 0.3s ease;
    animation: fadeIn 1s ease-in-out;
}

.hero-banner h1 {
    font-size: 2.5rem; /* Réduire la taille de la police */
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    animation: fadeIn 1s ease-in-out;
}

.hero-banner p {
    font-size: 1rem; /* Réduire la taille de la police */
    margin-top: 20px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
    font-weight: 300;
    animation: fadeIn 1s ease-in-out;
}

/* Problématique sur la page d'accueil */
.problem-statement {
    background-color: #6A1B9A;
    color: white;
    padding: 40px 20px; /* Réduire la taille de la section */
    text-align: center;
    border-radius: 10px;
    margin-top: 20px; /* Problématique remontée */
    animation: fadeIn 1s ease-in-out;
}

.problem-statement h2 {
    font-size: 2rem; /* Réduire la taille de la police */
    margin-bottom: 20px;
}

.problem-statement p {
    font-size: 1rem; /* Réduire la taille de la police */
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
}

/* Content Section */
.content-section {
    margin: 50px auto;
    padding: 30px 20px; /* Réduire la taille de la section */
    max-width: 900px;
    background-color: #6A1B9A; /* Violet foncé */
    color: #FF69B4; /* Texte clair pour contraste */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 30px;
    transition: box-shadow 0.3s ease;
    animation: fadeIn 1s ease-in-out;
}

.content-section:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.content-section h2 {
    margin-bottom: 20px;
    font-size: 2rem; /* Réduire la taille de la police */
    color: #FF69B4;
    text-transform: uppercase;
}

.content-section p {
    margin-bottom: 20px;
    font-size: 1rem; /* Réduire la taille de la police */
    color: #FFC0CB;
}

.content-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
}

.content-section img:hover {
    transform: scale(1.05);
}

/* Image Container */
.image-container {
    margin: 20px 0;
    text-align: center;
}

.image-container img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    margin-left: 50px;
    margin-right: auto;
}

.image-container img:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: #6A1B9A;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    animation: fadeIn 1s ease-in-out;
}

footer a {
    color: #6A1B9A;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* Animation */
.appear-on-scroll {
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transform: translateY(20px);
}

.appear-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        gap: 10px;
    }

    .navbar a {
        font-size: 0.9rem; /* Réduire la taille de la police */
    }

    .hero-banner {
        padding: 80px 20px; /* Réduire la taille de la section */
    }

    .hero-banner h1 {
        font-size: 2rem; /* Réduire la taille de la police */
    }

    .content-section {
        padding: 20px 15px; /* Réduire la taille de la section */
    }

    .content-section h2 {
        font-size: 1.5rem; /* Réduire la taille de la police */
    }
}

@media (max-width: 480px) {
    .hero-banner h1 {
        font-size: 1.5rem; /* Réduire la taille de la police */
    }

    .content-section {
        padding: 15px; /* Réduire la taille de la section */
    }

    footer {
        font-size: 0.8rem; /* Réduire la taille de la police */
    }
}

.custom-list {
    list-style-type: square; /* Change le type de puce */
    padding-left: 20px; /* Ajoute un padding à gauche */
    color: #FFC0CB; /* Change la couleur du texte */
}

.custom-list li {
    margin-bottom: 10px; /* Ajoute un espace entre les éléments de la liste */
    font-size: 1.1em; /* Augmente la taille de la police */
}



.links li{
    background-color: transparent;
    height: 100%;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.2s ease;
}
.links li:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    scale: 1.05;
}

.links li:active{
    scale: 0.95;
}

.donnee{
    background: linear-gradient(rgb(115, 35, 165), rgb(141, 20, 141)); /* Violet contrasté */
    padding: 100px 20px; /* Réduire la taille de la section */
    text-align: center;
    color: white;
    border-bottom: 5px solid #6A1B9A; 
    margin-bottom: 50px;
    transition: background-color 0.3s ease;
    animation: fadeIn 1s ease-in-out;
}

.donnee p{
    font-size: 1rem; /* Réduire la taille de la police */
    margin-top: 20px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
    font-weight: 300;
    animation: fadeIn 1s ease-in-out;
}